.imageNgx{
  width: 200px !important;
  height: 200px !important;
}

@media (min-width: 576px) {
    .col-sm-6 {
      flex-basis: 50%;
      max-width: 50%;
    }
  }
  
  @media (min-width: 768px) {
    .col-md-6 {
      flex-basis: 50%;
      max-width: 50%;
    }
  }
}

.video-container {
    width: 100%;
    max-width: 500px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.captured-image-container {
    text-align: center;
    img {
        max-width: 100%;
        border-radius: 8px;
    }
}